.outras-bicicletas{
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    position: relative;
}
.outras-bicicletas h4{
    color: var(--cor-12);
    
}
.outras-bicicletas > h4{
    grid-column: 1/-1;
    margin-bottom: 15px;
}
.outras-bicicletas .bicicleta-opcao{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    
}
.bicicleta-opcao span{
    color: var(--cor-8);
}
.outras-bicicletas img{
    border-radius: 4px;
}
.bicicleta-opcao h4{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.bicicleta-opcao h4::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    
    transition: width 0.3s;
    margin-right: 8px;
    
}
.bicicleta-opcao a:hover h4::before{
    width: 24px;
    
}
@media (max-width: 800px){
    .outras-bicicletas{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 400px){
    .outras-bicicletas > h4{
        font-size: 1.85rem;
    }
}